fastapi~=0.116.1
uvicorn[standard]
sqlalchemy~=2.0.41
psycopg2-binary
alembic~=1.16.4
pydantic~=2.11.7
celery~=5.5.3
redis
pdfminer.six
python-dotenv~=1.1.1
requests
firecrawl~=2.16.3
openai~=1.98.0
selenium~=4.16.0
beautifulsoup4~=4.12.2
webdriver-manager~=4.0.1